.activities-container {
  margin-top: var(--between-section-margin);
}

.activities-cards {
  margin-top: var(--gap-item);
  display: flex;
  gap: 0 var(--gap-item);
}

.activities-cards img {
  width: 100%;
  height: 400px;
  border-top-left-radius: var(--radius-item);
  border-top-right-radius: var(--radius-item);
}

.activities-cards .card {
  padding: 0;
}

.activities-cards a {
  flex: 1 0 calc(25% - (var(--gap-item) * 2));
}

.activities-cards .card h3 {
  padding-bottom: var(--padding-section);
  padding-left: var(--padding-section);
}