
footer {
  margin-top: calc(var(--between-section-margin) * 3);
}

.footer-container {
  display: flex;
  background-color: var(--main-bg-color);
  padding: var(--padding-section);
  justify-content: space-between;
  /* ... */
}

section:last-child {
  margin-right: 20%;
}

.footer-container section ul li  {
  margin: var(--gap-item) 0;
}