/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
}

:root {
  --main-color: #0065FC;
  --main-bg-color: #F2F2F2;
  --filter-bg-color: #DEEBFF;

  /**
    Aditional css var use for persist and easy update graphic chart
  **/
  --title-margin: 30px;
  --between-section-margin: 25px;
  --gap-item: 20px;
  --gap-inner-item: 15px;

  --padding-filter: 12px 16px;
  --padding-section: 30px;
  --padding-border-card: 5px;

  --txt-bold: 700;

  --radius-section: 20px;
  --radius-filter: 25px;
  --radius-item: 20px;

  --drop-shadow-item: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.fa-solid {
  color: var(--main-color);
}

.fa-solid.fa-location-dot {
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}


main {
  margin-top: calc(var(--gap-item) * 2);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: var(--radius-item);
  padding: var(--padding-border-card);
  filter: var(--drop-shadow-item)
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: var(--txt-bold);
}

.neutral-star {
  color: var(--main-bg-color)
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
