/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
      flex-direction: column-reverse;
  }

  .hebergements {
      width: 100%;
  }

  .populaires {
      width: 100%;
      margin: 50px 0px;
  }

  .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .populaires-cards a {
      width: 30%;
  }

  .populaires-cards .card-title {
      font-size: 14px;
  }

  .populaires-cards .card-subtitle {
      font-size: 13px;
  }

  .activities-cards img {
    height: 280px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    margin: 0;
    padding: 0;
  }
  header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  header div {
    display: flex;
    justify-content: center;
  }
  header nav ul::before {
    display: block;
  }
  header nav ul {
    justify-content: space-around;
  }
  header nav ul li a::before {
    transform: translateY(25px);
  }

  .search-container, .activities-container {
    width: 90%;
    margin: auto;
  }

  .searchbar-container button i {
    display: inline-block;
  }

  .searchbar-container button span {
    display: none;
  }

  .searchbar-container {
    display: flex;
    justify-content: center;
  }

  .searchbar-container form {
    width: 100%;
  }

  .searchbar-container input {
    flex: 1;
  }

  .searchbar-container button {
    border-radius: 10px;
    padding: 10px 12px;
    position: relative;
    transform: translateX(-5px);
    filter: drop-shadow(-3px 4px 4px rgba(0,0,0,.3));
  }

  .search-container div.search-title h2, .search-container div.search-title p {
    text-align: center;
  }

  .filters-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-btns-list {
    flex-wrap: wrap;
  }
  .filter-btns-list li {
    flex: 1 0 calc(50% - (25px * 2))
  }

  .hebergements {
    background-color: #fff!important;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-cards {
    flex-direction: column;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires a {
    width: 100%;
  }

  .activities-cards {
    flex-direction: column;
  }
}