/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

  .filters-container {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .hebergements-and-populaires {
      flex-direction: column
  }

  .hebergements {
      width: 100%;
  }

  .populaires {
      width: 100%;
      margin: calc(var(--between-section-margin) * 2) 0px;
  }

  .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .populaires-cards a {
      width: 30%;
  }

  .populaires-cards .card-title {
      font-size: 14px;
  }

  .populaires-cards .card-subtitle {
      font-size: 13px;
  }

  .activities-cards img {
    height: 280px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    margin: 0;
    padding: 0;
  }
  header {
    flex-direction: column;
    margin-bottom: var(--gap-item);
  }
  header div {
    display: flex;
    justify-content: center;
  }

  header nav ul li {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  header nav ul li a {
    display: inline-block;
    width: 100%;
    position: relative;
  }

  header nav ul li a::before {
    /**
    * Switch border header link to bottom 
    
    
    transform: translateY(25px);
    */
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    top: 100%;
    background-color: var(--main-bg-color);
    opacity: 1;
    transform: translateY(20px);
  }

  a:hover:before {
    background-color: var(--main-color);
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .search-container, .activities-container {
    width: 90%;
    margin: auto;
  }

  .searchbar-container button i {
    display: inline-block;
  }

  .searchbar-container button span {
    display: none;
  }

  .searchbar-container {
    display: flex;
    justify-content: center;
  }

  .searchbar-container form {
    width: 100%;
  }

  .searchbar-container input {
    flex: 1;
  }

  .searchbar-container button {
    border-radius: (var(--radius-item) / 2);
    padding: 10px 12px;
    position: relative;
    transform: translateX(-5px);
    filter: var(--drop-shadow-item)
  }

  .search-container div.search-title h2, .search-container div.search-title p {
    text-align: center;
  }

  
  .filter-btns-list {
    flex-wrap: wrap;
  }
  .filter-btns-list li {
    flex: 1 0 calc(50% - (25px * 2))
  }

  .hebergements {
    background-color: #fff!important;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-cards {
    flex-direction: column;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires a {
    width: 100%;
  }

  .activities-cards {
    flex-direction: column;
  }

  .footer-container {
    gap: 0;
    flex-direction: column;
  }
}