.search-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);
  margin-bottom: var(--between-section-margin);
}

.filter-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid var(--filter-bg-color);
  outline: none;
  padding: var(--padding-filter);
  font-weight: var(--txt-bold);
  font-size: 1.2rem;
  border-radius: var(--radius-filter);
}

.filter-btn:hover {
  background-color: var(--filter-bg-color);
}

.filters-container {
  display: flex;
  gap: calc(var(--gap-item) + 5px);
  align-items: center;
}

.filter-btns-list {
  display: flex;
  gap: var(--gap-item);
}

.info-text {
  display: flex;
  align-items: center;
  gap: var(--gap-inner-item);
}

.info-text i {

  display: inline-block;

  width: 12px;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
}

.searchbar-container form {
  display: flex;
  height: 50px;
}

.searchbar-container label {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-top-left-radius: calc(var(--radius-item) / 2);
  border-bottom-left-radius: calc(var(--radius-item) / 2);
}

.searchbar-container input {
  outline-color: var(--filter-bg-color);
  border: 2px solid var(--main-bg-color);
}

.searchbar-container button {
  border-top-right-radius: calc(var(--radius-item) / 2);
  border-bottom-right-radius: calc(var(--radius-item) / 2);
  background-color: var(--main-color);
  outline: none;
  border: none;
  color: #fff;
  font-weight: var(--txt-bold);
  font-size: 1.2rem;
  cursor: pointer;
}

.searchbar-container button i {
  color: #fff;
  display: none;
}